.all-content {
	height: 100%;
	background-image: url("/start-now.jpg");
	background-size: cover;
	background-position: center;
}

.over-lay {
	z-index: 0;
}

.container {
	position: relative;
	width: 80vw;
	margin: 0px auto;
	color: var(--secondary-color);
	z-index: 1;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style-type: none;
	display: flex;
}

.nav-btn {
	margin-left: 1.5em;
	font-size: 30px;
	color: var(--secondary-color);
	background-color: transparent;
	border: none;
	transition: 0.4s ease-out;
}

.nav-btn:hover {
	border: 3px solid var(--secondary-color);
	padding: 5px 10px;
	color: var(--tertiary-color);
}

.title {
	text-align: center;
}

.title h1 {
	font-size: 80px;
	margin-bottom: 10px;
}

@keyframes lights-in-out {
	from {
		color: var(--tertiary-color);
	}
	to {
		color: var(--secondary-color);
	}
}

.title h4 {
	font-weight: normal;
	font-size: 28px;
	margin-top: 0px;
	animation-name: lights-in-out;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.content {
	margin-top: 100px;
	text-align: center;
}

.play-btn {
	border: none;
	background-color: var(--tertiary-color);
	color: var(--primary-color);
	font-size: 35px;
	font-style: italic;
	width: 300px;
	height: 65px;
	border-radius: 10px;
	transition: 0.1s ease-out;
}

.play-btn:hover {
	border-radius: 0;
	color: var(--tertiary-color);
	background-color: transparent;
	border: 3px solid var(--secondary-color);
	font-style: normal;
}

.play-btn:active {
	transform: scale(1.2);
}

.nav-show-login,
.nav-show-signup,
.nav-show-about {
	position: absolute;
	top: 50%;
}

.nav-show-login {
	left: 35%;
	width: 30%;
}

.nav-show-signup {
	width: 36%;
	left: 32%;
}

.nav-show-about {
	width: 36%;
	left: 32%;
}
