
.container {
    position: relative;
    width: 80vw;
    margin: 0px auto;
    color: var(--secondary-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 25px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

.nav-btn {
    margin-left: 1.5em;
    font-size: 30px;
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
}


.title {
    text-align: center;
}

    .title h1 {
        font-size: 80px;
        margin-bottom: 10px;
    }

    .title h4 {
        font-weight: normal;
        font-size: 28px;
        margin-top: 0px;
    }

.content {
    margin-top: 100px;
    text-align: center;
}

.play-btn {
    border: none;
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    font-size: 35px;
    font-style: italic;
    width: 300px;
    height: 65px;
    border-radius: 10px;
}


.nav-show-login, .nav-show-signup, .nav-show-about {
    position: absolute;
    top: 50%;
}

.nav-show-login {
    left: 35%;
    width: 30%;
}

.nav-show-signup {
    width: 36%;
    left: 32%;
}

.nav-show-about {
    width: 36%;
    left: 32%;
}
