.container {
	margin: 50px 60px;
}

.right-hand-side {
	float: right;
	width: 50%;
}

.dictionary {
	width: 40%;
}

.dictionary fieldset {
	padding: 0px;
	border: none;
	margin-bottom: 30px;
}

.dictionary-name {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.dictionary-name .name {
	color: var(--secondary-color);
	font-size: 18px;
}

.dictionary button {
	all: unset;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	border: 3px solid var(--secondary-color);
	font-size: 18px;
	width: 100px;
	height: 10px;
	padding: 10px;
	color: var(--tertiary-color);
	transition: 0.4s ease-out;
}

.dictionary button:hover {
	background-color: var(--tertiary-color);
	color: var(--secondary-color);
}

.dictionary .dictionary-levels-count {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dictionary .dictionary-levels-count .levels-count {
	color: var(--secondary-color);
	font-size: 18px;
}

.new-word {
	width: 40%;
}

.new-word ::deep form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 40px;
}

.new-word button {
	all: unset;
	background-color: transparent;
	border: 3px solid var(--tertiary-color);
	font-size: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px;
	height: 15px;
	padding: 10px;
	transition: 0.4s ease-out;
}

.new-word button:hover {
	background-color: var(--tertiary-color);
}

button .plus-icon {
	fill: var(--tertiary-color);
	transition: 0.6s ease-in;
}

button:hover .plus-icon {
	fill: var(--secondary-color);
}

.container button .name {
	margin-left: 40px;
	color: var(--secondary-color);
}

.new-word span {
	color: var(--tertiary-color);
	font-size: 24px;
}

.new-word div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}

.new-word ::deep input {
	background-color: transparent;
	border: 3px solid var(--secondary-color);
	font-size: 14px;
	margin-left: 20px;
}

::deep input {
	margin-left: 50px;
	font-size: 14px;
	background-color: transparent;
	border: 3px solid var(--tertiary-color);
	color: var(--tertiary-color);
}

.status {
	color: var(--tertiary-color);
	position: absolute;
	bottom: 5px;
	font-style: oblique;
	border-top: 3px solid var(--secondary-color);
}

.word-list {
	margin-top: 50px;
	max-height: 440px;
	overflow-y: auto;
}

.word-in-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: transparent;
	border: 3px solid var(--tertiary-color);
	padding: 10px;
	color: var(--secondary-color);
	font-size: 18px;
	margin-bottom: 30px;
}

.word-in-list .word-n-meaning {
	width: 14%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.word-in-list .meaning-badge {
	border: 2px solid var(--tertiary-color);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

.word-in-list button.delete {
	all: unset;
}
