.container {
	position: absolute;
	top: 25%;
	left: 38%;
	width: 24%;
	height: 50%;
	background-color: var(--tertiary-color);
	z-index: 1;
	border-radius: 13px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

button {
	width: 200px;
	height: 50px;
	font-size: 18px;
	border: 3px solid var(--secondary-color);
	background-color: var(--primary-color);
	color: var(--secondary-color);
	border-radius: 12px;
}

p {
	font-size: 18px;
}

#score-value {
	font-size: 20px;
	color: var(--secondary-color);
	font-weight: bold;
}
