@inject NavigationManager NavManager
@inject IWordService WordService

<div class="container">
    <h1>Congratulations!!</h1>
    <h3>Done Playing</h3>

    <div class="score">
        <p>Total Score</p>
        <p><span id="score-value">@TotalScore</span> points</p>
    </div>

    <button class="next-level" style="display: @NextLevelDisplay" @onclick="OnNextLevelClick">next level</button>
    <button @onclick="OnOkayClick">okey dokey</button>
</div>

@code {

    [Parameter]
    public int TotalScore { get; set; }

    [Parameter]
    public int CurrentLevel { get; set; }

    [Parameter]
    public EventCallback NextLevelClick { get; set; }

    public string NextLevelDisplay { get; set; } = "none";


    protected override async Task OnInitializedAsync()
    {
        await WordService.SetCurrentDictionary(WordService.GetCurrentDictionary(), false, ++CurrentLevel);

        NextLevelDisplay = WordService.GetCount() > 0 ? "block" : "none";
    }

    public async Task OnOkayClick()
    {
        await SaveScore();
        NavManager.NavigateTo("/dashboard");
    }

    public void OnNextLevelClick()
    {
        NextLevelClick.InvokeAsync();
    }

    public async Task SaveScore()
    {
        await WordService.SavePlayerScore(TotalScore);
    }
}