.letter-box {
	background-color: var(--primary-color);
	/*width: 315px;
    height: 315px;*/
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 28px;
	box-shadow: 20px 20px 3px 3px #0000004e;
	transition: background-color 0.8s ease-out, border-radius 0.2s ease-out;
}

.letter-box:hover {
	border-radius: 0px;
}

.letter {
	color: var(--tertiary-color);
	/*font-size: 220px;*/
	transition: 1s ease-in;
}

.drag-over {
	background-color: transparent;
}

.drag-over .letter {
	color: var(--primary-color);
}
