.main {
	min-height: 230px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 20px;
}

.main fieldset {
	border: none;
	display: flex;
	justify-content: space-between;
	font-size: 22px;
}

.main fieldset.password {
	margin-top: 10px;
}

.main fieldset.remember-me {
	margin-top: 15px;
	justify-content: space-around;
	align-items: center;
}

.buttons {
	display: flex;
}

button {
	font-size: 25px;
	background-color: transparent;
	width: 50%;
	height: 50px;
	border: 3px solid var(--secondary-color);
}

button.login {
	border-right: 1px solid var(--secondary-color);
	border-radius: 12px 0px 12px;
}

button.cancel {
	border-left: 1px solid var(--secondary-color);
	border-radius: 0px 12px 0px;
}

#error {
	color: red;
	padding: 20px;
}
