<div class="container">
    <Scoreboard />

    <button @onclick="OnCloseClick">close</button>
</div>


@code {

    [Parameter]
    public EventCallback OnClose { get; set; }

    public void OnCloseClick()
    {
        OnClose.InvokeAsync();
    }
}